rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función de seguridad: Verifica si eres el jefe
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "yolfranllecastillo@gmail.com";
    }

    // Reglas para los usuarios
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      // Permite update de points sólo al admin. El usuario puede actualizar lastConnection y name.
      allow update: if isAdmin() || (request.auth != null && request.auth.uid == userId && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['points', 'exactScores', 'correctResults']));
    }

    // Reglas para los partidos
    match /matches/{matchId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Reglas para los pronósticos
    match /predictions/{predictionId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if isAdmin() || (request.auth != null && request.resource.data.userId == request.auth.uid && request.resource.data.modificationsCount <= 1);
    }
  }
}
